.btn {
@apply bg-primary text-white px-6 py-3 rounded-xl font-semibold shadow-lg hover:bg-secondary transition;
}


.input {
@apply w-full mb-3 px-4 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-secondary;
}